.checkout-navbar {
  text-align: center;
  font-weight: bold;
  color: rgba(79, 79, 79, 1);
  padding-top: 2vh;
  margin-bottom: 6vh;
}

#paypal-button-container {
  padding: 7%;
  padding-bottom: 0%;
}

.second-title {
  text-align: center;
}
