.confirmation-navbar {
  text-align: center;
  color: rgba(79, 79, 79, 1);
  padding-top: 2vh;
}

.confirmation-box1 {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.confirmation-card {
  border-bottom: solid  rgba(152, 104, 104, 1);
  padding: 3%;
}

.review_rating  {
  display: flex;
  justify-content: space-between;
}

.confirmation-box2 {
  margin-top: 15vh;
  border-top: solid rgba(152, 104, 104, 1);
  border-bottom: solid rgba(152, 104, 104, 1);
  padding: 3%;
}
.your-order {
  padding: 3%;
}

.font-size-1 {
  font-size: large;
}
