.header-container {
  margin-bottom: 0;
  margin: auto;
  width: 90vw;
}

.outer-container {
  border: solid 1px black;
  margin: auto;
  width: 90vw;
  height: 80vh;
}

.qr-code {
  height: 100%;
  width: 100%;
}

.qr-code-container {
  height: 100%;
  width: 25%;
  overflow: scroll;
}

.product-container {
  height: 100%;
  width: 25%;
  overflow: scroll;
  z-index: -1;

}

.btn-dashboard {
  padding: 10px 15px;
  background-color: white;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  justify-content: center;
}

.btn-dashboard:hover {
  color: $project-grey;
}

.name-restaurant {

}

.edit-pen {
  color: black;
}

.edit-pen:hover {
  color: $project-grey;

}
