// Specific CSS for your home-page
.whole-page {
  background-color: white;
}

.font-size-title {
  font-size: 70px;
}

.background-color {
  background-color: $project-background;
}
.navbar-home {
  min-width: -webkit-fill-available;
  z-index: 100;
}

.nav-color {
  background-color: rgba(152, 104, 104, 0.5);
}

.home-banner {
  background-color: rgba(152, 104, 104, 0.5);
  height: 60vh;
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.figma-image {
  background-image: url("Test3.jpg");
  background-size: cover;
  margin-top: 4vh;
  width: 47vw;
}

.home-container-1 {
  width: 32vw;
  height: 19vh;
  padding: 15px;
  text-align: center;
  margin-top: 8vh;
}

.home-box-1 {
  padding-left: 10px;
  color: white;
}

.home-box-2 {
  padding-left: 20px;
  color: white;
}

.container-x {
  width: 80vw;
  margin: auto;
}

.home-banner-2 {
  height: 137vh;
  padding: 15px;
}

.how-it-works {
  height: 10vh;
  margin-top: 5vh;
}

.home-all-cards {
  display: flex;
  justify-content: space-between;
  height: 50vh;
  margin-bottom: 3vh;
}

.home-card-1 {
  width: 20vw;
  padding: 10px !important;
}

.home-card-1 h3 {
 text-align: center;
}

.home-card-2 h3 {
  text-align: center;
 }

 .home-card-3 h3 {
  text-align: center;
 }


.home-card-2 {
  width: 20vw;

  padding: 10px !important;
}

.home-card-3 {
  width: 20vw;

  padding: 10px !important;
}

.restaurants-with-rapidorder {
  height: 10vh;
  margin-top: 5vh;
}

.home-cards__card p{
  width: 30vw;
  border: solid;
  height: 50vh;
}

.home-cards__card {
  margin: 10px;
  margin-left: 0px !important;
}
.home-cards__card img {
  border-radius: 10px;
  height:352px;
  width:236px;
}

.home-cards {
  display: flex;
  overflow: scroll;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  background-color: rgba(152, 104, 104, 0.5);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: white;
  font-size: 35px;
}
.footer .fa-heart {
  color: #D23333;
}

.animation {
  display: block;
  position: relative;
  background-color: rgba(152, 104, 104, 1);
  border-radius: 4px;
  z-index: 0;
  overflow: hidden;
  border: 1px solid rgba(152, 104, 104, 1);
  color: white;
  padding: 3%;
  transition: all 0.2s ease-out;

  &:hover {
    // transition: all 1s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid rgba(152, 104, 104, 1);
    background-color: white;
    color: rgba(152, 104, 104, 1);
  }

  &:hover:before {
    transform: scale(2.15);
  }
}
