.outer-meal-card {
  min-height: 21vh;
  width: 86vw;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 1.8vh;
}

.accordion-body {
  padding: 0 !important;
  border: solid 0 black !important;
}

.accordion {
  background-color: $project-background !important;
}

.accordion-item {
  background-color: $project-background !important;
  border: solid 0 black !important;
}


.img-allergy {
  height: 100%;
  width: 17vh;
}

.half-card {
  margin: 1vh;
  margin-left: 0 !important;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.food-image {
  height: 15vh;
  width: 15vh;
  margin-left: 1vh !important;
  margin-top: 1vh !important;
  margin-right: 1vh;
  border-radius: 10%;
  margin: auto;
  object-fit: cover;
  // display: block;
  // position: relative;
  // top:5%;
}

.allergies {
  width: 14vh;
  margin-left: 2vh;
  margin-top: 1vh;
  margin-right: 1vh;
}

.rating {
  height: 1%;
  width: 5%;
}

.title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0 !important;
}

.description {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0 !important;
}

.price {
  font-size: 20px;
  font-weight: 400;
  margin: 0 !important;
}

.allergy-img {
  height: 20px;
  width: 20px;
}

.order-button {
  height: 4vh;
  width: 4vh;
  border-radius:5px;
  margin: 0 !important;
}


i {
  height: 2vh;
  width: 2vh;
}

.margin-plus-favicon {
  // margin-left: 1.2vw;
  // margin-bottom: 1vw;
  padding-top: 26%;
  padding-left: 31%;
}

.star-container {
  color: $project-red;
  font-size: 7px;
  text-align: end;

}

.placeholder-top {
  height: 2vh;
  width: 100%;
}

.product-title {
  color: rgba(79, 79, 79, 1);
}
