.outer-meal-card {
  height: 13vh;
  width: 86vw;
}

.img-allergy {
  height: 100%;
  width: 40%;
  justify-content: left;
}

.description {
  height: 100%;
  width: 50%;
  justify-content: right;
}

.image-div {
  height: 75%;
  width: 100%;
}

.allergies {
  height: 25%;
  width: 100%;
  justify-content: bottom;
}
