<div class="categories-drink-card">
  <div class="card-img h-100"></div>
  <div>
    <h2>Beer</h2>
    <p>heerlijk, helder, heineken</p>
    <h3 class="price">€ 3,50</h3>
  </div>
  <div class="rating">
    <p><% 5.times do %> ⭐ <% end %></p>
    <div class="btn rounded btn-product"><i class="fa-solid fa-plus"></i></div>
  </div>
</div>
