<div class="container" data-controller="shoppingcart">
  <div class="placeholder-top"></div>
  <div class="cart-nav d-flex justify-content-between">
    <%= link_to :back, class: "previous-button" do %>
      <div class="img-btn-previous"><%= image_tag "button-previous.png" %></div>
    <% end %>
    <h1 class="h1-position text-center">Cart</h1>
    <div class="img-btn-next-tramsparent"></div>
  </div>
  <div class="shoppingcart-cards-container">
    <div data-shoppingcart-target="card">
    </div>
  </div>
  <div id="totalprice" data-controller='totalprice overage'>
    <div class="tips">
      <span class="add-tip">Add tip:</span>
      <div class="btn-group" role="group" aria-label="Basic example">
        <%# <button type="button" class="btn btn-color button-group-2 br-0" data-action="totalprice#addTip">0%</button> %>
        <button type="button" class="btn btn-color button-group-2" data-action="totalprice#addTip" data-totalprice-tip-param="0.05">5%</button>
        <button type="button" class="btn btn-color button-group-2" data-action="totalprice#addTip" data-totalprice-tip-param="0.10">10%</button>
        <button type="button" class="btn btn-color button-group-2 br-15" data-action="totalprice#addTip" data-totalprice-tip-param="0.15">15%</button>
      </div>
    </div>
    <div class="items">
      <span>Items</span>
      <span data-totalprice-target="output"></span>
    </div>
    <div class="tip">
      <span>Tip</span>
      <span data-totalprice-target="tip"></span>
    </div>
    <div class="total">
      <span>Total</span>
      <span data-totalprice-target="grandtotal"></span>
    </div>
    <%= link_to checkout_path do %>
      <div class="btn btn-color pay-button"><strong>Pay Now</strong></div>
    <% end %>
  </div>
</div>
