<div class="container">
  <div class="cart-nav">
    <div class="previous-button">
      <input type="button" onclick="history.back()" value="<">
    </div>
    <h1 class="h1-position">Cart</h1>
  </div>
  <div class="border cart-cards position-relative">
    <i class="fa-solid fa-xmark position-absolute mark btn-color x"></i>
    <div class="img"></div>
    <div class="flex-grow-1">
      <div class="title-card">
        <h2 class="pt-2">title</h2>
      </div>
      <div class="d-flex justify-content-between align-items-end">
        <div class=" btn-group " role="group" aria-label="Basic example">
          <button type="button" class="btn btn-color btn-margin br-minus button-group-1"><i class="fa-solid fa-minus"></i></button>
          <div class=" btn btn-color btn-margin button-group-1">1</div>
          <button type="button" class="btn btn-color br-plus button-group-1"><i class="fa-solid fa-plus"></i></button>
        </div>
        <span class="fs-4 price"> 99.9€</span>
      </div>
    </div>
  </div>
  <div class="tips">
    <span class="add-tip">Add tip:</span>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-color button-group-2 br-0">0%</button>
      <button type="button" class="btn btn-color button-group-2">5%</button>
      <button type="button" class="btn btn-color button-group-2">10%</button>
      <button type="button" class="btn btn-color button-group-2 br-15">15%</button>
    </div>
  </div>
  <div class="items">
    <span>Items</span>
    <span>99,9€</span>
  </div>
  <div class="tip">
    <span>Tip</span>
    <span>9,9€</span>
  </div>
  <div class="total">
    <span>Total</span>
    <span>109,8€</span>
  </div>
</div>
