<%= render "shared/navbar" %>
<%#= link_to 'Create New Restaurant', new_restaurant_path %>
<%# @restaurants.each do |restaurant| %>
  <%#= link_to 'Show Restaurant', restaurant_dashboard_admin_path(restaurant) %>
  <%# end %>
  <div class="home-banner">
    <div class="home-container-1">
      <div class="home-box-1">
        <h2 class="home-title">RapidOrder</h2>
      </div>
      <div class="home-box-2">
        <h2 class="home-description">Faster Service</h2>
      </div>
    </div>
  </div>
  <div class="home-banner-2">
    <h2 class="how-it-works">Informations about us</h2>
    <div class="home-all-cards">
      <div class="home-card-1 animation">
        <p>
          <div>
            <h3>How it works</h3>
          </div>
          You place on the table unique QR code, with the QR code you give the menue to the customers and through the menue they can order faster and pay immediately, they can get the receipt if they want in there email.</p>
      </div>
      <div class="home-card-2 animation">
        <p>
          <div>
            <h3>Problem solving</h3>
          </div>
          Everyone can have their own order if they decide to split the bill equal, some customers prefer to order, eat and leave fast.</p>
      </div>
      <div class="home-card-3 animation">
        <p>
          <div>
            <h3>Value it brings</h3>
          </div>
          Very profitable in time, in customer service as well, the customer has the comfort to order as he wishes and you can earn more money because you serve more orders, you can work with less waiters that will impove the working flow. </p>
      </div>
    </div>
    <h2 class="restaurants-with-rapidorder">Restaurants with RapidOrder</h2>
    <div class="home-cards">
      <div class="home-cards__card">
        <p>YOU CAN CHANGE THE P WITH IMG.</p>
      </div>
      <div class="home-cards__card">
        <p>YOU CAN CHANGE THE P WITH IMG.</p>
      </div>
      <div class="home-cards__card">
        <p>YOU CAN CHANGE THE P WITH IMG.</p>
      </div>
      <div class="home-cards__card">
        <p>YOU CAN CHANGE THE P WITH IMG.</p>
      </div>
      <div class="home-cards__card">
        <p>YOU CAN CHANGE THE P WITH IMG.</p>
      </div>
      <div class="home-cards__card">
        <p>YOU CAN CHANGE THE P WITH IMG.</p>
      </div>
      <div class="home-cards__card">
        <p>YOU CAN CHANGE THE P WITH IMG.</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <h3>Footer</h3>
    <div class="links">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-github"></i>
    </div>
  </div>
