<div class="whole-page">
  <div class="nav-color">
    <%= render "shared/navbar" %>
  </div>
  <%#= link_to 'Create New Restaurant', new_restaurant_path %>
  <%# @restaurants.each do |restaurant| %>
    <%#= link_to 'Show Restaurant', restaurant_dashboard_admin_path(restaurant) %>
    <%# end %>
    <div class="home-banner">
      <div class="figma-image"></div>
      <div class="home-container-1">
        <div class="home-box-1 text-start">
          <h1 class="font-size-title"><strong>RapidOrder</strong></h1>
        </div>
        <div class="home-box-2 text-start">
          <h3>For faster and more efficient service in hospitality</h3>
        </div>
      </div>
    </div>
    <div class="container-x home-banner-2">
      <h2 class="how-it-works ">Information</h2>
      <div class="home-all-cards">
        <div class="home-card-1 animation">
          <div>
            <h3 style="padding-top: 20px;">How it works</h3>
          </div>
          <ul style="padding-right: 15px; padding-left: 25px;">
            <li class="mt-4">each table has a QR-Code specificly assigned</li>
            <li class="mt-2">it opens the menu of the Restaurant or Bar, where you can place an order</li>
            <li class="mt-2">the order can then be accesed by the chef to prepare it</li>
            <li class="mt-2">finaly the order can be brought out by a waiter</li>
          </ul>
      </div>
      <div class="home-card-2 animation">
        <div>
          <h3 style="padding-top: 20px;">Problem's it solves</h3>
        </div>
        <ul style="padding-right: 15px; padding-left: 25px;">
          <li class="mt-4">no unnecessary waiting time, which saves a lot of time</li>
          <li class="mt-2">no open orders because everything is paid in advance</li>
          <li class="mt-2">no misunderstandings as every product has a picture</li>
          <li class="mt-2">no need to find enough staff as less can run the Restaurant or Bar</li>
        </ul>
    </div>
    <div class="home-card-3 animation">
      <div>
        <h3 style="padding-top: 20px;">Value it brings</h3>
      </div>
      <ul style="padding-right: 15px; padding-left: 25px;">
        <li class="mt-4">increases Restaurants profitability as time per customer decreases and less staff is need to run the Restaurant or Bar</li>
        <li class="mt-2">records statistics of ordered product to optimze the menu</li>
        <li class="mt-2">setup is very simple and fast </li>
        <li class="mt-2">easy to use</li>
      </ul>
  </div>
</div>
<h2 class="restaurants-with-rapidorder">Restaurants using RapidOrder</h2>
<div class="home-cards">
  <div class="home-cards__card">
    <img src="https://i.pinimg.com/564x/9e/2a/4a/9e2a4ac80f3235dbcfe701ee5542088e.jpg" alt="Neraida">
  </div>
  <div class="home-cards__card">
    <img src="https://i.pinimg.com/750x/00/95/8e/00958e515288aa7d1bc18275b55d8734.jpg" alt="Neon">
  </div>
  <div class="home-cards__card">
    <img src="https://i.pinimg.com/564x/ae/ad/8e/aead8ea46b1b43b4d4883b7bacbdc3f3.jpg" alt="Xasapis">
  </div>
  <div class="home-cards__card">
    <img src="https://i.pinimg.com/564x/c9/b9/1a/c9b91ac2ffecdcf0c8cfbd3b8b8682e4.jpg" alt="elia">
  </div>
  <div class="home-cards__card">
    <img src="https://i.pinimg.com/564x/4d/2f/5d/4d2f5db99a5dfa7e8afe04c89781ec87.jpg" alt="palati">
  </div>
  <div class="home-cards__card">
    <img src="https://i.pinimg.com/564x/e1/d8/52/e1d852f94ecf69c84a2770a0a2cc9cc7.jpg" alt="garifalo">
  </div>
  <div class="home-cards__card">
    <img src="https://i.pinimg.com/564x/ef/fd/a3/effda3aa3a2d61d069e3eba29872efaf.jpg" alt="thea">
  </div>
</div>
</div>
