<%= render "shared/navbar" %>
  <%#= link_to 'Create New Restaurant', new_restaurant_path %>
  <%# @restaurants.each do |restaurant| %>
  <%#= link_to 'Show Restaurant', restaurant_dashboard_admin_path(restaurant) %>
  <%# end %>
  <div class="home-banner">
    <div class="home-container-1">
      <div class="home-box-1">
        <h2 class="home-title">RapidOrder</h2>
      </div>
      <div class="home-box-2">
        <h2 class="home-description">Faster Service</h2>
      </div>
    </div>
  </div>
  <div class="home-banner-2">
    <h2 class="how-it-works">How it works</h2>
    <div class="home-all-cards">
      <div class="home-card-1"></div>
      <div class="home-card-2"></div>
      <div class="home-card-3"></div>
    </div>
    <h2 class="restaurants-with-rapidorder">Restaurants with RapidOrder</h2>
    <div class="home-cards">
      <div class="home-cards__card">
        <p>YOU CAN CHANGE THE P WITH IMG.</p>
      </div>
      <div class="home-cards__card">
        <p>YOU CAN CHANGE THE P WITH IMG.</p>
      </div>
      <div class="home-cards__card">
        <p>YOU CAN CHANGE THE P WITH IMG.</p>
      </div>
      <div class="home-cards__card">
        <p>YOU CAN CHANGE THE P WITH IMG.</p>
      </div>
      <div class="home-cards__card">
        <p>YOU CAN CHANGE THE P WITH IMG.</p>
      </div>
      <div class="home-cards__card">
        <p>YOU CAN CHANGE THE P WITH IMG.</p>
      </div>
      <div class="home-cards__card">
        <p>YOU CAN CHANGE THE P WITH IMG.</p>
      </div>
    </div>
  </div>
  <div class="footer">
  <h3>Footer</h3>
  </div>
