<div class="whole-page">
<div class="nav-color">
  <%= render "shared/navbar" %>
</div>
  <%#= link_to 'Create New Restaurant', new_restaurant_path %>
  <%# @restaurants.each do |restaurant| %>
    <%#= link_to 'Show Restaurant', restaurant_dashboard_admin_path(restaurant) %>
    <%# end %>
    <div class="home-banner">
      <div class="figma-image"></div>
      <div class="home-container-1">
        <div class="home-box-1">
          <h2 class="home-title">RapidOrder</h2>
        </div>
        <div class="home-box-2">
          <h2 class="home-description">For faster Service in hospitality</h2>
        </div>
      </div>
    </div>
    <div class="container home-banner-2">
      <h2 class="how-it-works">Informations about us</h2>
      <div class="home-all-cards">
        <div class="home-card-1 animation">
          <div>
            <h3>How it works</h3>
          </div>
          You place on the table unique QR code, with the QR code you give the menue to the customers and through the menue they can order faster and pay immediately, they can get the receipt if they want in there email.</p>
      </div>
      <div class="home-card-2 animation">
        <div>
          <h3>Problem solving</h3>
        </div>
        Everyone can have their own order if they decide to split the bill equal, some customers prefer to order, eat and leave fast.</p>
    </div>
    <div class="home-card-3 animation">
      <div>
        <h3>Value it brings</h3>
      </div>
      Very profitable in time, in customer service as well, the customer has the comfort to order as he wishes and you can earn more money because you serve more orders, you can work with less waiters that will impove the working flow. </p>
  </div>
</div>
<h2 class="restaurants-with-rapidorder">Restaurants with RapidOrder</h2>
<div class="home-cards">
  <div class="home-cards__card">
    <img src="https://i.pinimg.com/236x/98/a2/7d/98a27d5bd28ea9c06af5fd8a1ca77e51.jpg" alt="Neraida">
  </div>
  <div class="home-cards__card">
    <img src="https://i.pinimg.com/236x/0e/c9/4c/0ec94cc7a34dd6106bce504e32fd0df3.jpg" alt="Neon">
  </div>
  <div class="home-cards__card">
    <img src="https://i.pinimg.com/236x/41/4e/c6/414ec6ef215e6c726c716becd0f37b49.jpg" alt="Xasapis">
  </div>
  <div class="home-cards__card">
    <img src="https://i.pinimg.com/236x/a3/29/e6/a329e6bdc2bc116e56f945a8b9f823a3.jpg" alt="elia">
  </div>
  <div class="home-cards__card">
    <img src="https://i.pinimg.com/236x/9c/89/19/9c891961111735bf17e357edce08e11e.jpg" alt="palati">
  </div>
  <div class="home-cards__card">
    <img src="https://i.pinimg.com/236x/3a/b8/52/3ab85272e6f1c91cbc759d9daa6edd92.jpg" alt="garifalo">
  </div>
  <div class="home-cards__card">
    <img src="https://i.pinimg.com/236x/fa/5c/38/fa5c38b812734faea843f94196e3309a.jpg" alt="thea">
  </div>
</div>
</div>
