<div class="whole-page">
  <div class="nav-color">
    <%= render "shared/navbar" %>
  </div>
  <%#= link_to 'Create New Restaurant', new_restaurant_path %>
  <%# @restaurants.each do |restaurant| %>
    <%#= link_to 'Show Restaurant', restaurant_dashboard_admin_path(restaurant) %>
    <%# end %>
    <div class="home-banner">
      <div class="figma-image"></div>
      <div class="home-container-1">
        <div class="home-box-1">
          <h2 class="home-title">RapidOrder</h2>
        </div>
        <div class="home-box-2">
          <h2 class="home-description">For faster Service in hospitality</h2>
        </div>
      </div>
    </div>
    <div class="container home-banner-2">
      <h2 class="how-it-works">About us</h2>
      <div class="home-all-cards">
        <div class="home-card-1 animation">
          <div>
            <h3>Problem to solve</h3>
          </div>
          Lately it has been difficult to find, good, personnel in hospitality. A lot of bars and restaurants are understaffed, which does not allow for a good customer experience, whereas the competition is fiercer than ever.
          Time is money, this is also true for your customers. They do not want to wait, unnecessary, long before being served.
        </div>
        <div class="home-card-2 animation">
          <div>
            <h3>How it works</h3>
          </div>
          On the tables you place a unique QR code. With these QR codes customers can see your menu in our application, place an order and pay for it immediately. It allows for faster order placements and a good customer experience.</p>
      </div>
      <div class="home-card-3 animation">
        <div>
          <h3>Added value</h3>
        </div>
        A happy customer is a loyal customer! Thanks to the convenience of ordering and paying through RapidOrder your customers will have a better experience.
        Besides that, no more misunderstandings or squabbles over the bill and it will allow you to serve more orders in the same amount of time.
      </p>
    </div>
  </div>
  <h2 class="restaurants-with-rapidorder">Restaurants with RapidOrder</h2>
  <div class="home-cards">
    <div class="home-cards__card">
      <img src="https://i.pinimg.com/236x/98/a2/7d/98a27d5bd28ea9c06af5fd8a1ca77e51.jpg" alt="Neraida">
    </div>
    <div class="home-cards__card">
      <img src="https://i.pinimg.com/236x/0e/c9/4c/0ec94cc7a34dd6106bce504e32fd0df3.jpg" alt="Neon">
    </div>
    <div class="home-cards__card">
      <img src="https://i.pinimg.com/236x/41/4e/c6/414ec6ef215e6c726c716becd0f37b49.jpg" alt="Xasapis">
    </div>
    <div class="home-cards__card">
      <img src="https://i.pinimg.com/236x/a3/29/e6/a329e6bdc2bc116e56f945a8b9f823a3.jpg" alt="elia">
    </div>
    <div class="home-cards__card">
      <img src="https://i.pinimg.com/236x/9c/89/19/9c891961111735bf17e357edce08e11e.jpg" alt="palati">
    </div>
    <div class="home-cards__card">
      <img src="https://i.pinimg.com/236x/3a/b8/52/3ab85272e6f1c91cbc759d9daa6edd92.jpg" alt="garifalo">
    </div>
    <div class="home-cards__card">
      <img src="https://i.pinimg.com/236x/fa/5c/38/fa5c38b812734faea843f94196e3309a.jpg" alt="thea">
    </div>
  </div>
</div>
