<div class="restaurant-banner">
<div class="restaurant-logo"></div>
<div>
<h1>Restaurant</h1>
<h2>since 1964</h2>
</div>
<h2 class="restaurant-table">table</h2>
</div>
  <div class="special-offer-card">
    <div>
      <h2>Daily Menue</h2>
      <h2>Price 12.50€</h2>
    </div>
  </div>
