.show-restaurant-logo{
  position: absolute;
  top: 2vh;
  left: 4vw;
  height: 70px;
  width: 70px;
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
}

.show-restaurant-banner{
  height: 70vh;
  width: 100vw;
  background-color: lightgray;
}

.some{
  padding-top: 460px;
  padding-left: 40px;
}

.show-restaurant-title h3{
  font-size: 45px
}

.show-restaurant-title{
  position: relative;
  top: 75%;
  left: 10vw;
}

.restaurant-table{
  background-color: $project-red;
  width: 25vw;
}
