.previous-button {
  border-radius: 10px;
  background-color: $project-grey;
  width: 5vh;
  height: 5vh;
}

.img-btn-previous {
  height: 100%;
}

.img-btn-next {
  height: 100%;
}

.img-btn-next img{
  height: 4vh;
  margin-top: 0.5vh;
  margin-left: 1.6vh;
}

.img-btn-previous img{
  height: 4vh;
  margin-top: 0.5vh;
  margin-left: 1.2vh;
}

.button-next {

}

.button-plus {

}

.button-minus {

}

.button-plus-cart {

}

.button-minus-cart {

}

.button-total-cart {

}

.button-delete {

}

.button-tips {

}

.button-view-cart {

}

.button-place-order {

}
