.special-offer-card {

}

.categories-card {

}

.category-drink-cards {

}

.category-food-cards {

}

.cart-cards {
  display: flex;
  background-color: white;
  border-radius: 10px;
  height: 15vh;
  overflow: hidden;
}

.restaurant-categories-card {

}
