.btn-product{
  background-color: $project-red;
}

.drink-image{
  width: 50px;
  height: 50px;
  background-color: black;
  z-index: 10;
}

.test{
  width: 90vw;
}

.rating p{
  font-size: 15px;
}

.categories-drink-card{
  width: 95%;
}
