.btn-product{
  background-color: $project-red;
}

.drink-image{
  height: 116px;
  width: 95px;
margin-right: 10px;
}


.test{
  width: 90vw;
}

.rating p{
  font-size: 15px;
}

.categories-drink-card{
  width: 100%;
  border-radius: 10px;
}

.box1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box1 h2 {
  padding-bottom: 7px;
}
.box1 p {
  font-size: xx-small;
  width: 72px;
}

.all-boxes {
  display: flex;
}

.box3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-beer p {
  text-align: start!important;
}
