.form-new {
  margin-top: 5vh !important;
  width: 50vw;
  margin: auto;
}

.submit-btn {
  margin: auto;
  text-align: center;
}

.allergy-checkboxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 15vh;
}
