.wrapper{
  background-color: $project-background;
}

.show-restaurant-special-offer-card{
  width: 90vw;
  height: 20vh;
  background-color: lightgrey;
}

// .show-restaurant-categories-card{
//   // background-color: lightgrey;
// }

// .show-restaurant-categories{
//   // width: 85vw
//   // height: 100%;
// }

.show-restaurant-categories-card{
  width: 85vw;
  height: 11vh;
}

.swiper-slide{
  // background-image: url("https://source.unsplash.com/xBFTjrMIC0c");
  // background-color: black;
  // background-size: cover;
  height: 25vw;
  min-width: 25vw;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

// #drink-1{
//   background-image: url('../../images/beer.jpg');
//   background-size: coverr;
// }

.swiper-wrapper{
  overflow-x: auto;
  height: 15vh;
}

.show-category-title{
  width: 85vw;
}

.special-offer-price{
  position: relative;
  // top: -1vh;
  // left: 55vw;
  float: right;
  background-color: $project-red;
  width: 25vw;
}

// footer
