.wrapper{
  background-color: $project-background;
}

.show-restaurant-special-offer-card{
  width: 90vw;
  height: 12vh;
  background-color: lightgrey;
}

.show-restaurant-categories-card{
  background-color: lightgrey;
}

// .show-restaurant-categories{
//   width: 85vw
// }

.show-restaurant-categories-card{
  width: 85vw;
  height: 11vh;
}

.swiper-slide{
  // background-image: url("https://source.unsplash.com/xBFTjrMIC0c");
  background-color: black;
  // background-size: cover;
  height: 7vh;
  min-width: 25vw;
}

.swiper-wrapper{
  overflow-x: auto;
}

.show-category-title{
  width: 85vw;
}

.special-offer-price{
  position: relative;
  top: -1vh;
  left: 55vw;
  background-color: $project-red;
  width: 25vw;
}

// footer
