// .wrapper{
//   background-color: $project-background;
// }

.show-restaurant-special-offer-card{
  width: 90vw;
  height: 20vh;
  background-color: lightgrey;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7v_OZJJVNhTbQwp9C5p4L_bLpGBC6Fafl3Q&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.special-offer-button {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.special-offer-button h3 {
  font-weight: bolder;
  color: white;
}
// .show-restaurant-categories-card{
//   // background-color: lightgrey;
// }

// .show-restaurant-categories{
//   // width: 85vw
//   // height: 100%;
// }

.show-restaurant-categories-card{
  width: 85vw;
  height: 11vh;

}



.swiper-slide{
  // background-image: url("https://source.unsplash.com/xBFTjrMIC0c");
  // background-color: black;
  // background-size: cover;
  height: 25vw;
  width: 25vw;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 1vw;
}

// #drink-1{
//   background-image: url('../../images/beer.jpg');
//   background-size: coverr;
// }

.swiper-wrapper{
  overflow-x: auto;
  height: 15vh;
}

.show-category-title{
  width: 85vw;
}

.special-offer-price{
  // position: relative;
  // top: -1vh;
  // left: 55vw;
  float: right;
  background-color: $project-red;
  width: 20vw;
  color: white;
  text-align: center;

}

// footer

.show-restaurant-banner{
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.show-restaurant-logo img{
  width: inherit;
  height: inherit;
  border-radius: 50%;
}
