<div class="wrapper">
  <div class="product-title d-flex justify-content-between p-2">
  <div class="previous ms-2"><</div>
    <h2>Drinks</h2>
    <div class="next me-2">></div>
  </div>
<%= render "shared/productcard_drinks" %>
</div>
